.conatiner-main {
    height: 100vh;
    overflow: hidden;

}

.content {
    height: 100%;
    overflow-y: scroll;
}

.box {
    border-radius: 16px;
    background: var(--White, #FFF);
    min-width: 220px;
    min-height: 250px;
    margin-top: 15px;
}

.box3 {
    border-radius: 16px;
    background: var(--White, #FFF);
    min-width: 100px;
    min-height: 200px;
    margin-top: 15px;
}


.states {
    height: 400px;
    min-height: 410px;

    border-radius: 16px;
    background: var(--White, #FFF);
    margin-top: 15px;

}

.Growth1 {

    min-height: 200px;
    border-radius: 16px;
    background: var(--White, #FFF);
    margin-top: 15px;
}

.Growth2 {
    min-height: 180px;
    border-radius: 16px;
    background: var(--White, #FFF);
    margin-top: 15px;
}

.Growth3 {
    min-height: 180px;
    border-radius: 16px;
    background: var(--White, #FFF);
    margin-top: 15px;
}

.Growth4 {
    min-height: 180px;
    border-radius: 16px;
    background: var(--White, #FFF);
    margin-top: 15px;
}

.chats {
    min-height: 230px;
    border-radius: 16px;
    background: var(--White, #FFF);
    margin-top: 15px;
    margin-bottom: 20px;
}

.new-deals {
    min-height: 240px;
    border-radius: 16px;
    background: var(--White, #FFF);
    margin-top: 15px;
    margin-bottom: 15px;
}

.chartt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    width: 20px;
    height: 20px;
    background-color: rgba(115, 74, 0, 1);
}

.second {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 40, 63, 1);
}

.third {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 128, 0, 1);
}
.grad1 {
    background-image: linear-gradient(to right, rgba(113,204,255,1), rgb(246, 242, 242));
  }