.sidebar{
    min-height: 95vh;
    margin:15px 2px 10px  1px ;
    border-radius: 16px;
    background: var(--White, #FFF);
    
}
.parentsidebar{
    height: 95vh;
    // border: 1px solid black;
}
// *{
//     border: 1px solid black;
// }