.sidebar{
    min-height: 95vh;
    margin:15px 2px 10px  1px ;
    border-radius: 16px;
    background: var(--White, #FFF);
    
}
.parentsidebar{
    height: 95vh;
   
}
// .listitem:hover{
//     font-size: 20px;
// }
.listitem:hover {
    img {
      transform: scale(1.2); 
    }
  
    span {
      font-size: 18px;
    }
  }
