
.loginParent{
    height: 500px;
    box-sizing: border-box;
    padding-bottom: 200px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.logo{
    height: 170px;
    /* background: #D9D9D9; */
    /* border-radius: 50%; */
}
.input{
    height: 40px;
    margin-bottom: 10px;
}
.loginbtn{
    /* max-width: 300px; */
    border-radius: 6px;
    background-color: #17A2B8;
    border: none;
    height: 50px;
    color: white;
    /* padding-right: 100px ;
    padding-left: 100px ;
    padding-top: 10px;
    padding-bottom: 10px; */
}
.logo-symbol{
    color: #000;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
}

*{
    font-family: 'Inter', sans-serif;
}




@media (max-width: 767px) {
.mobile{
    display: none;
}
  }